header {
    height: 100px;
}

#tipoComida {
    text-align: center;
}

#carritoMercado {
    padding-right: 0;
    padding-left: 30px;
}

#carritoMercado img {
    height: 50px;
}

#marca {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

#numeroItems {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
}

#cartasComida img {
    height: 150px;
}

#cartasComida div {
    height: 450px;
}